{% extends 'base.html.twig' %}

{% block main %}
    <h2 class="mb-8 text-4xl font-light text-gray-900">Berufliche Stationen</h2>
    <div class="mb-16 sm:flex sm:grid-2 sm:gap-32 sm:justify-between">
        <div class="mt-4 sm:mt-0 flow-root max-w-sm">
            <ul role="list" class="-mb-8">
                <li>
                    <div class="relative pb-8">
                        <span class="absolute left-5 top-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
                        <div class="relative flex items-start space-x-3">
                            <div>
                                <div class="relative">
                                    <img alt="Logo von „krausgedruckt“" class="flex w-10 h-auto items-center rounded-full justify-center bg-gray-500 ring-8 ring-white" src="{{ asset('images/krausgedruckt.jpg') }}">
                                </div>
                            </div>
                            <div class="min-w-0 flex-1 py-0">
                                <div class="text-sm leading-8 text-gray-500">
                                    <div class="text-sm">
                                        <a href="#" class="font-medium text-gray-900">Jurassic Jeep, Erftstadt</a>
                                    </div>
                                    <p class="mt-0.5 text-sm text-gray-500">seit 11/2023</p>
                                </div>
                                <div class="mt-2 text-sm text-gray-700">
                                    <p><span class="font-semibold">TODO</span> TODO</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="relative pb-8">
                        <span class="absolute left-5 top-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
                        <div class="relative flex items-start space-x-3">
                            <div>
                                <div class="relative">
                                    <img alt="Logo der Chefkoch GmbH aus Bonn" class="flex w-10 h-auto items-center rounded-full justify-center bg-gray-500 ring-8 ring-white" src="{{ asset('images/chefkoch.jpg') }}">
                                </div>
                            </div>
                            <div class="min-w-0 flex-1 py-0">
                                <div class="text-sm leading-8 text-gray-500">
                                    <div class="text-sm">
                                        <a href="#" class="font-medium text-gray-900">Chefkoch GmbH, Bonn</a>
                                    </div>
                                    <p class="mt-0.5 text-sm text-gray-500">Senior iOS-Entwickler <span class="text-gray-300">◼</span> seit 01/2023</p>
                                </div>
                                <div class="mt-2 text-sm text-gray-700">
                                    <p><span class="font-semibold">Angekommen.</span> Nach viereinhalb Jahren im Apple-Universum ist klar: Hier liegt meine Zukunft. Der 2017 noch als riskant empfundene Wechsel des Ökosystems war rückblickend die beste Entscheidung meiner Karriere.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="relative pb-8">
                        <span class="absolute left-5 top-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
                        <div class="relative flex items-start space-x-3">
                            <div>
                                <div class="relative">
                                    <img alt="Logo von „Jurassic Jeep“" class="flex w-10 h-auto items-center rounded-sm justify-center bg-gray-500 ring-8 ring-white" src="{{ asset('images/jurassic-jeep.jpg') }}">
                                </div>
                            </div>
                            <div class="min-w-0 flex-1 py-0">
                                <div class="text-sm leading-8 text-gray-500">
                                    <div class="text-sm">
                                        <a href="#" class="font-medium text-gray-900">Jurassic Jeep, Erftstadt</a>
                                    </div>
                                    <p class="mt-0.5 text-sm text-gray-500">seit 05/2021</p>
                                </div>
                                <div class="mt-2 text-sm text-gray-700">
                                    <p><span class="font-semibold">TODO</span> TODO</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="relative pb-8">
                        <span class="absolute left-5 top-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
                        <div class="relative flex items-start space-x-3">
                            <div>
                                <div class="relative">
                                    <img alt="Logo der Chefkoch GmbH aus Bonn" class="flex w-10 h-auto items-center rounded-full justify-center bg-gray-500 ring-8 ring-white" src="{{ asset('images/chefkoch.jpg') }}">
                                </div>
                            </div>
                            <div class="min-w-0 flex-1 py-0">
                                <div class="text-sm leading-8 text-gray-500">
                                    <div class="text-sm">
                                        <a href="#" class="font-medium text-gray-900">Chefkoch GmbH, Bonn</a>
                                    </div>
                                    <p class="mt-0.5 text-sm text-gray-500">iOS-Entwickler <span class="text-gray-300">◼</span> 07/2017 bis 12/2022</p>
                                </div>
                                <div class="mt-2 text-sm text-gray-700">
                                    <p><span class="font-semibold">The NexT Step.</span> Nach einem – glücklich verlaufenen – Autounfall fange ich nochmal von vorne an: Ich wechsle das Ökosystem und starte eine neue Karriere als iOS-Entwickler, bleibe dem Web aber im Rahmen meiner Selbstständigkeit erhalten.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="relative pb-8">
                        <span class="absolute left-5 top-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
                        <div class="relative flex items-start space-x-3">
                            <div>
                                <div class="relative">
                                    <img alt="Logo der Chefkoch GmbH aus Bonn" class="flex w-10 h-auto items-center rounded-full justify-center rounded-full bg-gray-500 ring-8 ring-white" src="{{ asset('images/chefkoch.jpg') }}">
                                </div>
                            </div>
                            <div class="min-w-0 flex-1 py-0">
                                <div class="text-sm leading-8 text-gray-500">
                                    <div class="text-sm">
                                        <a href="#" class="font-medium text-gray-900">Chefkoch GmbH, Bonn</a>
                                    </div>
                                    <p class="mt-0.5 text-sm text-gray-500">PHP-Entwickler <span class="text-gray-300">◼</span> 07/2016 bis 06/2017</p>
                                </div>
                                <div class="mt-2 text-sm text-gray-700">
                                    <p><span class="font-semibold">Grüße vom Bonner Bogen.</span> Nach zwölf Jahren Wohlfahrtsverband führt mich mein Weg zu Europas größtem Kochportal. Ich beginne meine Arbeit in Bonn und setze mit einem engagierten Team das Online-Magazin unter Verwendung von Symfony und Drupal um.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="relative pb-8">
                        <span class="absolute left-5 top-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
                        <div class="relative flex items-start space-x-3">
                            <div>
                                <div class="relative">
                                    <img alt="(Traditionelles) Logo des Arbeiter-Samariter-Bund Deutschland e.V." class="flex w-10 h-auto items-center justify-center rounded-full bg-gray-500 ring-8 ring-white" src="{{ asset('images/asb.jpg') }}">
                                </div>
                            </div>
                            <div class="min-w-0 flex-1 py-0">
                                <div class="text-sm leading-8 text-gray-500">
                                    <div class="text-sm">
                                        <a href="#" class="font-medium text-gray-900">ASB Deutschland e.V., Köln</a>
                                    </div>
                                    <p class="mt-0.5 text-sm text-gray-500">Projektmanager <span class="text-gray-300">◼</span> 01/2011 bis 06/2016</p>
                                </div>
                                <div class="mt-2 text-sm text-gray-700">
                                    <p><span class="font-semibold">Der zweite Schritt.</span> Ich verlagere meinen Fokus von der Web-Entwicklung in Richtung Projektmanagement. Unter Anwendung von PRINCE 2 und Scrum bin ich später Ansprechpartner und Projektleiter für fast alle Internet-Angebote des Bundesverbandes.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="relative pb-8">
                        <span class="absolute left-5 top-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
                        <div class="relative flex items-start space-x-3">
                            <div>
                                <div class="relative">
                                    <img alt="(Traditionelles) Logo des Arbeiter-Samariter-Bund Deutschland e.V." class="flex w-10 h-auto items-center justify-center rounded-full bg-gray-500 ring-8 ring-white" src="{{ asset('images/asb.jpg') }}">
                                </div>
                            </div>
                            <div class="min-w-0 flex-1 py-0">
                                <div class="text-sm leading-8 text-gray-500">
                                    <div class="text-sm">
                                        <a href="#" class="font-medium text-gray-900">ASB Deutschland e.V., Köln</a>
                                    </div>
                                    <p class="mt-0.5 text-sm text-gray-500">PHP-Entwickler <span class="text-gray-300">◼</span> 10/2004 bis 12/2010</p>
                                </div>
                                <div class="mt-2 text-sm text-gray-700">
                                    <p><span class="font-semibold">Erfahrungen sammeln und lernen.</span> Nach Abschluss meiner Berufsausbildung und Ableistung meines Zivildienstes beginne ich mein Angestelltenverhältnis beim Bundesverband des Arbeiter-Samariter-Bund in Köln. Anfangs noch im Bereich Help-Desk, später als (einziger) Web-Entwickler des Wohlfahrtsverbandes.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="relative pb-8">
                        <span class="absolute left-5 top-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
                        <div class="relative flex items-start space-x-3">
                            <div class="relative px-1">
                                <div class="flex h-8 w-8 items-center justify-center rounded-full bg-gray-100 ring-8 ring-white">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 text-gray-500">
                                        <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z" clip-rule="evenodd" />
                                    </svg>
                                </div>
                            </div>
                            <div class="min-w-0 flex-1">
                                <div>
                                    <div class="text-sm">
                                        <a href="#" class="font-medium text-gray-900">Beantragung meines Gewerbescheins</a>
                                    </div>
                                    <p class="mt-0.5 text-sm text-gray-500">Einzelunternehmer <span class="text-gray-300">◼</span> seit 10/2002</p>
                                </div>
                                <div class="mt-2 text-sm text-gray-700">
                                    <p><span class="font-semibold">Ich will mehr.</span> Dank DATON weiß ich: Das Internet ist meins. Ich beantrage meinen Gewerbeschein bei der Stadt Erftstadt. Über die nächsten Jahre werde ich über ein Dutzend kleine Projekte nebenberuflich umsetzen und viele davon bis heute betreuen.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="relative pb-8">
                        <div class="relative flex items-start space-x-3">
                            <div class="relative">
                                <img alt="Logo von DATON webengineering aus Köln" class="flex w-10 h-auto items-center justify-center rounded-md bg-gray-500 ring-8 ring-white" src="{{ asset('images/daton.jpg') }}">
                            </div>
                            <div class="min-w-0 flex-1">
                                <div>
                                    <div class="text-sm">
                                        <a href="#" class="font-medium text-gray-900">DATON webengineering, Köln</a>
                                    </div>
                                    <p class="mt-0.5 text-sm text-gray-500">Praktikant <span class="text-gray-300">◼</span> 07/2002 bis 10/2002</p>
                                </div>
                                <div class="mt-2 text-sm text-gray-700">
                                    <p><span class="font-semibold">Mit einem Praktikum fängt es an.</span> Mit einem viermonatigen Betriebspraktikum bei DATON webengineering bekomme ich meinen ersten, richtigen Einblick ins Berufsleben. Ich setze mehrere Kundenprojekte um und hinterlasse scheinbar einen bleibenden Eindruck: Mit meinem Chef Ralf bin ich bis heute noch in gutem Kontakt.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
{% endblock %}